
.input-group {
  margin-bottom: 10px;
  .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    background-color: #901180;
    border: 1px solid #901180;
    display: flex;
    align-items: center;
  }
}

input#email {
  border: 1px solid #901180 !important;
}

.login-main-container {
  /*background: linear-gradient(214deg, rgba(40, 29, 232, 1) -25%, rgb(147, 18, 152) 63%);*/
  //background: linear-gradient(214deg, rgba(40, 29, 232, 1) -25%, rgb(81, 36, 82) 63%);
  background: url("src/assets/image.jpg");
  height: 100%;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-size: cover;
}

.login-main-container .login-container {
  width: 80%;
  padding: 15px;
  background: #ffffff78;
  border-radius: 15px;
}

.login-main-container .login-container .logo-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  margin-bottom: 10%;
}

.login-main-container .login-container .logo-container .logo-image {
  background-image: url("../../../assets/sandhyadeep-logo.jpg");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 10px solid #fff;
  background-position: center center;
}

.login-main-container .login-container .logo-container .slogan-text {
  color: #901180;
  margin-bottom: 10%;
  font-size: 12px;
}
.login-main-container .login-container .logo-container .logo-text {
  font-size: 30px;
  color: #901180;
  font-weight: 700;
}

.login-main-container .login-container .form-main-container {
}

.login-main-container .login-container .form-main-container .form-container {
}

.login-main-container .login-container .form-main-container .form-container .link-signup {
  a {
    font-size: 12px;
    font-weight: bold;
    color: #901180;
  }
  text-align: center;
}

.login-main-container .login-container .form-main-container .form-container .login-button {
  color: white;
  padding: 8px;
  margin: 30px 0 5px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  //background: linear-gradient(214deg, rgba(40, 29, 232, 1) -25%, rgb(81, 36, 82) 63%);
  //background: linear-gradient(214deg, #ffc3a0 -25%, #ffafbd 63%); // baby pink
  background: linear-gradient(193deg, #cc2b5e 2%, #753a88 63%); // rani color
}

.login-main-container .login-container .form-main-container .form-container .login-button button {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: white;
}

.login-main-container .login-container .form-main-container .form-container .form-input-container {
}

.login-main-container .login-container .form-main-container .form-container .form-input-container .form-input::placeholder {
  color: white;
}

.login-main-container .login-container .form-main-container .form-container .form-input-container .form-input {
  padding: 15px;
  border: 1px solid #fff;
  margin: 10px;
  color: white;
  border-radius: 25px;
  background-color: transparent;
}

