<ion-content>
    <div class="login-main-container">
        <div class="login-container">
            <div class="logo-container">
                <div class="logo-image"></div>
                <div class="logo-text">
                    Sandhyadeep
                </div>
                <div class="slogan-text">
                    Have a hair affair with us
                </div>
            </div>
            <div class="form-main-container">
                <form>
                    <div class="form-container">
                        <div class="form-input-container">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input id="email" type="text" class="form-control" name="email" placeholder="Enter Mobile Number">
                            </div>
                        </div>
                        <div class="login-button">
                            <button (click)="onLogIn()"> Continue <i class="fa fa-arrow-right"></i></button>
                        </div>
<!--                        <div class="link-signup" (click)="goToSignup()">-->
<!--                            <a href="">Skip</a>-->
<!--                        </div>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>
