@import "../../../sandhyadeep-theme";

.item-list {
  .item-container {
    margin-bottom: 15px;
    .main-item-name-container {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      border-bottom: 1px solid lightgray;
      .main-item-name-sub-container {
        display: flex; justify-content: center; align-items: center;
        img {
          margin-right: 10px; width: 35px; height: 35px;
        }
      }
      .main-item-name {
        font-size: 16px;
      }
      .main-item-arrow {
        color: #666;
        .right-icon {
        }
      }
    }
    .sub-item-list {
      max-height: 0;
      overflow-y: hidden;
      transition: ease-in-out 400ms max-height;
      &.opened {
        max-height: 100%;
        transition: ease-in-out 600ms max-height;
      }
      .sub-item-container {
        display: flex;
        padding: 5px 0;
        border-bottom: 1px solid lightgray;
        justify-content: space-between;
        align-items: center;
        .sub-item-name {
          flex-basis: 50%;
          line-height: 0.7;
          .name {
            font-size: 16px;
          }
          .time {
            font-size: 14px;
            color: #666;
          }
        }
        .sub-item-price {}
        .sub-item-checkbox {
          display: flex;
        }
      }
    }
  }
}
.down {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transition: ease-in-out 300ms;
}
.color-666 {
  color: #666;
}



.text-bold {
  font-weight: bold;
}

