<ion-slides pager="true" [options]="slideOpts">
  <ion-slide class="ion-slide-one">
    <div>
      <ion-button class="start-button" expand="block" color="primary"> Start</ion-button>
    </div>
  </ion-slide>
  <ion-slide class="ion-slide-two">
    <div>
      <ion-button class="start-button" expand="block" color="primary"> Start</ion-button>
    </div>
  </ion-slide>
  <ion-slide class="ion-slide-three">
    <div>
      <ion-button (click)="goToLogin()" class="start-button" expand="block" color="primary"> Start</ion-button>
    </div>
  </ion-slide>
</ion-slides>
