<sandhyadeep-header></sandhyadeep-header>
<ion-content>
    <ion-searchbar color="light" class="search-bar" placeholder="Search"></ion-searchbar>
    <ion-slides class="feed-sliders" pager="true" [options]="slideOpts">
        <ion-slide class="feed-images feed-slider feed-slider-one">

        </ion-slide>
        <ion-slide class="feed-images feed-slider feed-slider-two">

        </ion-slide>
        <ion-slide class="feed-images feed-slider feed-slider-three">

        </ion-slide>
    </ion-slides>
    <div class="menu-container">
<!--        <div class="feed-heading">-->
<!--            <h2><b>Services</b></h2>-->
<!--        </div>-->
<!--        <div class="height-95px slide_container">-->
<!--            <div class="slider s1 filter-bright-03"></div>-->
<!--            <div class="slider s2 filter-bright-03"></div>-->
<!--            <div class="slider s3 filter-bright-03"></div>-->
<!--            <div class="slider s4 filter-bright-03"></div>-->
<!--        </div>-->

        <div class="quick_menus">
            <div (click)="goServices()" class="menu-container">
                <div class="menu-image image-1"></div>
                <div class="menu-text">Hair Cuts</div>
            </div>
            <div (click)="goServices()" class="menu-container">
                <div class="menu-image image-2"></div>
                <div class="menu-text">Eye Brows</div>
            </div>
            <div (click)="goServices()" class="menu-container">
                <div class="menu-image image-3"></div>
                <div class="menu-text">Facials</div>
            </div>
            <div (click)="goServices()" class="menu-container">
                <div class="menu-image image-4"></div>
                <div class="menu-text">Manicure</div>
            </div>
            <div (click)="goServices()" class="menu-container">
                <div class="menu-image image-5"></div>
                <div class="menu-text">Products</div>
            </div>
            <div (click)="goServices()" class="menu-container">
                <div class="menu-image image-6"></div>
                <div class="menu-text">Upper lips</div>
            </div>
            <div (click)="goServices()" class="menu-container">
                <div class="menu-image image-7"></div>
                <div class="menu-text">Bridal Makeup</div>
            </div>
            <div (click)="goServices()" class="menu-container">
                <div class="menu-image image-8"></div>
                <div class="menu-text">Waxing</div>
            </div>
            <div (click)="goServices()" class="menu-container">
                <div class="menu-image image-9"></div>
                <div class="menu-text">Courses</div>
            </div>
        </div>

        <div class="feed-heading">
            <div class="heading-text">
                <b>Packages</b>
            </div>
            <div class="know-more">See All <i class="fa fa-angle-right"></i></div>
        </div>
        <div class="height-200px slide_container">
            <div class="slider p1"></div>
            <div class="slider p2"></div>
            <div class="slider p3"></div>
            <div class="slider p4"></div>
        </div>
        <div class="feed-heading">
            <div class="heading-text">
                <b>Our Stylist</b>
            </div>
            <div (click)="onKnowMore()" class="know-more">Know More <i class="fa fa-angle-right"></i></div>
        </div>
        <div class="application-details">
            <div class="owner-info-container">
                <div class="owner-image">
                    <img src="../../../assets/deepaa_bhagwat.jpg">
                </div>
                <div class="owner-details">
                    <div class="owner-name">Deepaa Bhagwat</div>
                    <div class="social-media-icons">
                        <div class="fb-icon"><i class="media-icon fa fa-facebook"></i></div>
                        <div class="insta-icon"><i class="media-icon fa fa-instagram"></i></div>
                        <div class="linkedin-icon"><i class="media-icon fa fa-linkedin"></i></div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <ul>
                        <li>Media & Beauty Makeup Diploma · Media Makeup · Fsx · Singapore</li>
                        <li>Makeup Techniques with Air Brush Machine · Mumbai, Maharashtra</li>
                        <li>Master Diploma in Makeup Artistry · Singapore</li>
                        <li>Comite International D’Esthetique Et De Cosmetologie., Zurich.</li>
                        <li>British Association of Beauty Therapy & Cosmetology, London.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy-rights">
            <i class="fa fa-copyright"></i> Copyright 2020 <br> Sandhyadeep Beauty Parlour. <br>
        </div>
<!--        <div class="feed-container">-->
<!--            <div class="feed-image-container">-->
<!--                <div>-->
<!--                    <div class="feed-image feed-image-hair"></div>-->
<!--                    <div class="feed-text"> Hair</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="feed-image-container">-->
<!--                <div>-->
<!--                    <div class="feed-image feed-image-skin"></div>-->
<!--                    <div class="feed-text"> Skin</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="feed-image-container">-->
<!--                <div>-->
<!--                    <div class="feed-image feed-image-makeup"></div>-->
<!--                    <div class="feed-text"> Makeup</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="feed-image-container">-->
<!--                <div>-->
<!--                    <div class="feed-image feed-image-course"></div>-->
<!--                    <div class="feed-text"> Courses</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

</ion-content>

