.top-adjust {
  top: 65px;
}
.logo-container {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  .logo-text {
    font-size: 20px; font-weight: 700;
  }
  .slogan-text {
    font-size: 8px;
  }
}

.search-bar {
  position: absolute;
  z-index: 999;
  opacity: 0.5;
  .searchbar-input-container input {
    background-color: white !important;
  }
}
//.feed-images {
//  filter: brightness(0.5);
//}

.feed-sliders {
  height: 40%;
}

.feed-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0 5px;
  .heading-text {
    font-size: 24px;
  }
}

.know-more {
  color: #666;
}

.feed-sliders .feed-slider {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
  max-height: 30em;
}

.feed-sliders .feed-slider-one {
  background: url("../../../assets/beaurty-1.jpg");
}

.feed-sliders .feed-slider-two {
  background: url("../../../assets/beauty-2.jpg");
}

.feed-sliders .feed-slider-three {
  background: url("../../../assets/beauty-3.jpg");
}

.feed-container {
  /*background: linear-gradient(214deg, rgba(40, 29, 232, 1) -25%, rgb(81, 36, 82) 63%);*/
  padding: 30px;
  border: 1px solid #fff;
}

.feed-container .feed-image-container > div {
  margin-bottom: 30px;
  position: relative;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 5px 10px 29px #aaaaaa94;
}

.feed-container .feed-image-container .feed-image {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  cursor: pointer;
  background-position: center center !important;
  height: 200px;
}

.feed-container .feed-image-container .feed-image-hair {
  background-image: url("../../../assets/hair.jpeg");
}

.feed-container .feed-image-container .feed-image-skin {
  background-image: url("../../../assets/skin.jpeg");
}

.feed-container .feed-image-container .feed-image-makeup {
  background-image: url("../../../assets/makeup.jpeg");
}

.feed-container .feed-image-container .feed-image-course {
  background-image: url("../../../assets/courses.jpeg");
}

.feed-container .feed-image-container .feed-text {
  background: linear-gradient(214deg, rgba(40, 29, 232, 1) -25%, rgb(81, 36, 82) 63%);
  text-align: center;
  font-weight: bold;
  color: white;
  bottom: 0;
  width: 100%;
  padding: 15px;
  font-size: 20px;
}

.height-95px {
 height: 95px;
}

.height-200px {
  height: 200px;
}

.slide_container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
}

.menu-container {
  padding: 0 15px;
}

.products_container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
  .image-slider-container {
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    border: 1px solid #BFBFBF;
    margin: 0 10px 5px;
    &:first-child {
      margin: 0 10px 5px 0;
    }
    &:last-child {
      margin: 0 0 5px 10px;
    }
    .slider-image {
      width: 200px;
      height: 200px;
      overflow: hidden;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    .slider-text {
      line-height: 1.3;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .product-name-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .product-name {
        font-size: 16px;
        font-weight: bold;
      }
      .product-price-details {
        display: flex;
        justify-content: space-between;
        .price-container {
          display: flex;
          .price {
            color: #2d2c2c;
            font-size: 14px;
          }
          .discounted-price {
            color: #666;
            font-size: 14px;
            margin-left: 5px;
          }
        }
      }
    }
  }

}

.slide_container .slider{
  display: inline-block;
  background-color: white;
  width: 80%;
  margin: 0 10px 5px;
  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  &:first-child {
    margin: 0 10px 5px 0;
  }
  &:last-child {
    margin: 0 0 5px 10px;
  }
}

.slide_container .slider.s1 {
  background-image: url('../../../assets/s1.jpg');
}

.slide_container .slider.s2 {
  background-image: url('../../../assets/s2.jpg');
}

.slide_container .slider.s3 {
  background-image: url('../../../assets/s3.jpg');
}

.slide_container .slider.s4 {
  background-image: url('../../../assets/s4.jpeg');
}

.filter-bright-03 {
  filter: brightness(0.3);
}

.slide_container .slider.p1 {
  background-image: url('../../../assets/s1.jpg');
}

.slide_container .slider.p2 {
  background-image: url('../../../assets/s2.jpg');
}

.slide_container .slider.p3 {
  background-image: url('../../../assets/s3.jpg');
}

.slide_container .slider.p4 {
  background-image: url('../../../assets/s4.jpeg');
}

.searchbar-input.sc-ion-searchbar-ios {
  background: white !important;
}


.main-container {
  background: #d3d3d34f;
}
.quick_menus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 15px 0;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: -3px 4px 25px #aaaaaa94;
  padding: 7px;

  div.menu-container {
    flex-basis: 33%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //border: 1px solid lightgray;
    &:nth-child(1) {
      border-top-left-radius: 12px;
    }
    //&:nth-child(2) {
    //  border-bottom: 1px solid lightgray;
    //}
    &:nth-child(3) {
      border-top-right-radius: 12px;
    }
    //&:nth-child(4) {}
    //&:nth-child(5) {}
    //&:nth-child(6) {}
    &:nth-child(7) {
      border-bottom-left-radius: 12px;
    }
    //&:nth-child(8) {}
    &:nth-child(9) {
      border-bottom-right-radius: 12px;
    }
    .menu-image {
      //border-radius: 50%;
      //background-repeat: no-repeat !important;
      //background-size: cover !important;
      //background-position: center center !important;
      //background-image: url('../../../assets/s4.jpeg');
      height: 65px;
      width: 65px;
      border: 2px solid #666;
      padding: 1px; border-radius: 50%; overflow: hidden; display: inline-block;
      img {
        object-fit: cover;
      }
      //&.image-1 {
      //  background-image: url('../../../assets/vector-haircut.jpg');
      //}
      //&.image-2 {
      //  background-image: url('../../../assets/thredding2.jpeg');
      //}
      //&.image-3 {
      //  background-image: url('../../../assets/vector_facial.jpg');
      //}
      //&.image-4 {
      //  background-image: url('../../../assets/manicure.jpeg');
      //}
      //&.image-5 {
      //  background-image: url('../../../assets/products.jpeg');
      //}
      //&.image-6 {
      //  background-image: url('../../../assets/upperLips.jpeg');
      //}
      //&.image-7 {
      //  background-image: url('../../../assets/bridal.jpeg');
      //}
      //&.image-8 {
      //  background-image: url('../../../assets/waxing.jpeg');
      //}
      //&.image-9 {
      //  background-image: url('../../../assets/courses.jpeg');
      //}
    }
    .menu-text {
      padding-top: 5px;
      font-size: 14px;
      text-align: center;
    }
  }
}

.application-details {
  margin: 15px 0 0;
  padding: 5px 0;
  display: flex;
  color: white;
  flex-direction: column;
  background-image: url('../../../assets/back-3.jpg');
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  //background: linear-gradient(193deg, #cc2b5e 2%, #753a88 84%);
  .owner-info-container {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    .owner-image {
      width: 85px;
      img {
        max-width: 100%;
        border: 0;
        border-radius: 50%;
        margin: 5px 0;
      }
    }

    .owner-name {
      font-size: 16px;
      text-align: center;
    }

    .social-media-icons {
      display: flex;
      justify-content: center;
      div {
        border: 2px solid white;
        display: inline-block;
        height: 35px;
        width: 35px;
        transition: all 0.5s;
        text-align: center;
        margin: 5px 10px;
        border-radius: 10px;
        .media-icon {
          line-height: 32px;
          font-size: 15px;
        }
      }
    }
  }
}

.linkedin-icon {
  background: #0E76A8;
}
.fb-icon {
  background: #3B5998;
}
.insta-icon {
  background: linear-gradient(to right top, #cc2b5e, #bc2a6d, #a82e7a, #903483, #753a88);
}

.copy-rights {
  padding: 5px 15px;
  background: #cc2b5efa;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.end-section {
  padding: 10px 0;
  background-color: lightgray;
}

.safety-measures {
  margin: 15px 0 10px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #BFBFBF;
  padding: 10px 0;
  border-radius: 10px;
  .margin-bottom-10 {
    margin-bottom: 10px;
  }
  .logo-safe {
    .logo-image {
      object-fit: cover;
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    .logo-text {}
  }
  .measures-container {
    display: flex;
    .measure {
      padding: 5px;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .measure-image {
        object-fit: cover;
        width: 35px;
        height: 35px;
        margin-bottom: 5px;
      }
      .measure-text {
        text-align: center;
      }
    }
  }
}

.add-item {
  .custom-add-button {
    display: flex; justify-content: space-between;
    align-items: center; border: 1px solid #753a88;
    .add-text {
      padding: 3px 5px;
    }
    i.fa.fa-plus {
      padding: 5px;
      background: #753a88;
      color: white;
    }
  }
  .custom-add-more-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #753a88;
    .add-text {
      padding: 3px 5px;
    }
    .in-cart-box {
      padding: 0 6px;
    }
    i.fa.fa-plus {
      padding: 5px;
      background: #753a88;
      color: white;
    }
    i.fa.fa-minus {
      padding: 5px;
      background: #753a88;
      color: white;
    }
  }
}
