<sandhyadeep-header class="z-index-99"></sandhyadeep-header>
<ion-content>
<!--    <ion-searchbar color="light" class="search-bar" placeholder="Search"></ion-searchbar>-->
    <ion-slides class="feed-sliders" pager="true" [options]="slideOpts">
        <ion-slide class="feed-images feed-slider feed-slider-one">

        </ion-slide>
        <ion-slide class="feed-images feed-slider feed-slider-two">

        </ion-slide>
        <ion-slide class="feed-images feed-slider feed-slider-three">

        </ion-slide>
    </ion-slides>
    <div class="menu-container">
<!--        <div class="feed-heading">-->
<!--            <h2><b>Services</b></h2>-->
<!--        </div>-->
<!--        <div class="height-95px slide_container">-->
<!--            <div class="slider s1 filter-bright-03"></div>-->
<!--            <div class="slider s2 filter-bright-03"></div>-->
<!--            <div class="slider s3 filter-bright-03"></div>-->
<!--            <div class="slider s4 filter-bright-03"></div>-->
<!--        </div>-->

        <div class="quick_menus">
            <div *ngFor="let treatment of treatments" (click)="goServices()" class="menu-container">
                <div class="menu-image"><img src="{{treatment.url}}" alt=""></div>
                <div class="menu-text">{{treatment.name}}</div>
            </div>
        </div>

        <div class="feed-heading">
            <div class="heading-text">
                <b>Packages</b>
            </div>
            <div [routerLink]="['/home/packages']" class="know-more">See All <i class="fa fa-angle-right"></i></div>
        </div>
        <div class="slide_container">
            <div *ngFor="let package of packages" class="slider">
                <img src="{{package.url}}" alt="">
            </div>
        </div>

        <div class="feed-heading">
            <div class="heading-text">
                <b>Products</b>
            </div>
            <div [routerLink]="['/home/products']" class="know-more">See All <i class="fa fa-angle-right"></i></div>
        </div>
        <div class="products_container">
            <div *ngFor="let product of productImages" class="image-slider-container">
                <div class="slider-image">
                    <img src="{{product.url}}" alt="">
                </div>
                <div class="slider-text">
                    <div class="product-name-container">
                        <div class="product-name">
                            {{product.name}}
                        </div>
                        <div class="product-price-details">
                            <div class="price-container">
                                <div class="price">
                                    {{product.price}} ₹
                                </div>
                                <div class="discounted-price">
                                    <del> {{product.discountedPrice}} ₹ </del>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-item">
                        <div *ngIf="!product.inCart" class="custom-add-button">
                            <div class="add-text">Add</div>
                            <i (click)="product.addedInCart = product.addedInCart + 1; product.inCart = !product.inCart"
                               class="fa fa-plus"></i>
                        </div>
                        <div *ngIf="product.inCart" class="custom-add-more-button">
                            <div (click)="product.addedInCart = product.addedInCart - 1;
                            product.inCart = !(product.addedInCart === 0)">
                                <i class="fa fa-minus"></i>
                            </div>
                            <div class="in-cart-box">
                                {{product.addedInCart}}
                            </div>
                            <div (click)="product.addedInCart = product.addedInCart + 1; ">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="safety-measures">
            <div class="margin-bottom-10">
                Best-in-class safety measures
            </div>
            <div class="measures-container margin-bottom-10">
                <div class="measure">
                    <div class="measure-image"><img src="assets/mask.png" alt=""></div>
                    <div class="measure-text">Usage of mask & gloves</div>
                </div>
                <div class="measure">
                    <div class="measure-image"><img src="assets/thermometer.png" alt=""></div>
                    <div class="measure-text">Temperature Checks</div>
                </div>
                <div class="measure">
                    <div class="measure-image"><img src="assets/liquid-soap.png" alt=""></div>
                    <div class="measure-text">Sanitizations of tools & area</div>
                </div>
                <div class="measure">
                    <div class="measure-image"><img src="assets/setu.png" alt=""></div>
                    <div class="measure-text">Arogya Setu to ensure Safety</div>
                </div>
            </div>
        </div>
<!--        <div class="safety-measures">-->
<!--            <div class="margin-bottom-10">-->
<!--                We use best brands in 1-time use-->
<!--            </div>-->
<!--            <div style="display: flex; flex-wrap: wrap">-->
<!--                <div style="flex-basis: 33%; display: flex; justify-content: center; align-items: center; padding: 0 15px" *ngFor="let brand of brandsList">-->
<!--                    <img style="width: 70px" src={{brand.url}} alt="">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="feed-heading">
            <div class="heading-text">
                <b>Our Stylist</b>
            </div>
            <div (click)="onKnowMore()" class="know-more">Know More <i class="fa fa-angle-right"></i></div>
        </div>
        <div class="application-details">
            <div class="owner-info-container">
                <div class="owner-image">
                    <img src="../../../assets/deepaa_bhagwat.jpg">
                </div>
                <div class="owner-details">
                    <div class="owner-name">Deepaa Bhagwat</div>
                    <div class="social-media-icons">
                        <div class="fb-icon"><i class="media-icon fa fa-facebook"></i></div>
                        <div class="insta-icon"><i class="media-icon fa fa-instagram"></i></div>
                        <div class="linkedin-icon"><i class="media-icon fa fa-linkedin"></i></div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <ul>
                        <li>Media & Beauty Makeup Diploma · Media Makeup · Fsx · Singapore</li>
                        <li>Makeup Techniques with Air Brush Machine · Mumbai, Maharashtra</li>
                        <li>Master Diploma in Makeup Artistry · Singapore</li>
                        <li>Comite International D’Esthetique Et De Cosmetologie., Zurich.</li>
                        <li>British Association of Beauty Therapy & Cosmetology, London.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy-rights">
            <i class="fa fa-copyright"></i> Copyright 2020 <br> Sandhyadeep Beauty Parlour. <br>
        </div>
<!--        <div class="feed-container">-->
<!--            <div class="feed-image-container">-->
<!--                <div>-->
<!--                    <div class="feed-image feed-image-hair"></div>-->
<!--                    <div class="feed-text"> Hair</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="feed-image-container">-->
<!--                <div>-->
<!--                    <div class="feed-image feed-image-skin"></div>-->
<!--                    <div class="feed-text"> Skin</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="feed-image-container">-->
<!--                <div>-->
<!--                    <div class="feed-image feed-image-makeup"></div>-->
<!--                    <div class="feed-text"> Makeup</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="feed-image-container">-->
<!--                <div>-->
<!--                    <div class="feed-image feed-image-course"></div>-->
<!--                    <div class="feed-text"> Courses</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

</ion-content>

