<back-logo-header></back-logo-header>

<ion-content>
    <div class="schedule-appointment-container">
        <div class="calender-body">
            <div class="month-name">
                {{monthName | titlecase}} {{todayYear}}
            </div>
            <div class="days-container">
                <ng-container *ngFor="let singleDay of daysArray">
                    <div (click)="onChangeDate(singleDay.showingDate)" class="single-day">
                        <div [class.bold-text]="selectedDate === singleDay.showingDate" class="day">{{singleDay.showingShortDay}}</div>
                        <div [class.active]="selectedDate === singleDay.showingDate" class="date">{{singleDay.showingDate}}</div>
                    </div>
                </ng-container>
            </div>
            <div class="slot-container">
                <div (click)="selectedTimeSlot = slot" *ngFor="let slot of timeSlots" class="time-slot">
                    <div [class.active]="selectedTimeSlot === slot" class="single-slot">
                        {{slot}}
                    </div>
                </div>
            </div>
            <div class="service-tab-container">
                <div class="feed-heading">
                    <div class="heading-text">
                        <b>Services</b>
                    </div>
                </div>
                <div class="services-container">
                    <div *ngFor="let service of services" class="service">
                        <div (click)="onToggleService(service)" class="single-service">
                            <div class="service-details-container">
                                <div class="service-checkbox">
                                    <ion-checkbox [(ngModel)]="service.isChecked" color="primary"></ion-checkbox>
                                </div>
                                <div class="main-service-name">{{service.mainServiceName | titlecase}}</div>
                                <div class="service-name">{{service.serviceName | titlecase}}</div>
                                <div class="service-duration">{{service.duration}} Minutes</div>
                            </div>
                            <div class="service-price-container">
                                <div class="price-text">Service Price</div>
                                <div class="service-fees">{{service.price}} ₹</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [routerLink]="['/home/apply-coupon']" class="coupon-tab-container">
                <div class="coupon-icon-container">
                    <img src="assets/coupon.png" alt="">
                    Apply Coupon
                </div>
                <div>
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            <div class="combo-tab-container">
                <div class="feed-heading">
                    <div class="heading-text">
                        <b>People like these combos</b>
                    </div>
                </div>
                <div class="combo-container">
                    <div *ngFor="let pack of packages" class="service">
                        <div (click)="onToggleCombo(pack)" class="single-service">
                            <div class="service-details-container">
                                <div class="service-checkbox">
                                    <ion-checkbox [(ngModel)]="pack.isChecked" color="primary"></ion-checkbox>
                                </div>
                                <div class="combo-name">{{pack.comboName | titlecase}}</div>
                            </div>
                            <div class="service-price-container">
                                <div class="price-text">Service Price</div>
                                <div class="price-container">
                                    <div class="service-fees">{{pack.discountedPrice}} ₹</div>
                                    <div> <del>{{pack.actualPrice}} ₹</del></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="total-bill-container">
                <div class="bill-header">
                    Price Details ({{selectedServices.length}}) Items
                </div>
                <div class="bill-details">
                    <div class="display-flex">
                        <div> Total Service Charges</div>
                        <div> {{serviceAmount}}</div>
                    </div>
                    <div class="display-flex">
                        <div> Coupon Discount</div>
                        <div class="apply-coupon" [routerLink]="['/home/apply-coupon']">Apply Coupon</div>
                    </div>
                </div>
                <div class="display-flex total-bill-details">
                    <div> Total Amount </div>
                    <div> {{serviceAmount}}</div>
                </div>
            </div>
        </div>
    </div>
    <ion-footer class="ion-no-border">
        <ion-toolbar>
            <div class="appointment-footer">
                <div (click)="onBookAppointment()" class="default-button">
                    <button > Book Now</button>
                </div>
            </div>
        </ion-toolbar>
    </ion-footer>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar style="border-top: 1px solid lightgray;">
        <div class="appointment-footer">
            <div class="total-div-container">
                <div class="total-div">
                    <div class="total-div-price">{{selectedServicesCount}} Services</div>
                </div>
                <div style="color: #126d16; font-weight: bold; font-size: 14px">
                    You Save: 54 ₹
                </div>
                <div>
                    {{serviceAmount}} ₹
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>
<style>

</style>


