.schedule-appointment-container {
  .calender-body {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;

    .month-name {
      padding: 0 0 3px;
      border-bottom: 1px solid lightgray;
    }

    .days-container {
      display: flex;
      justify-content: space-around;
      padding: 5px 0;
      font-size: 14px;
      border-bottom: 1px solid lightgray;

      .single-day {
        flex-basis: (100/8);

        .date {
          &.active {
            padding: 2px 6px;
            background: #753a88;
            border-radius: 50%;
            color: white;
          }

          font-weight: bold;
        }
      }
    }

    .slot-container {
      padding: 5px 0;
      display: flex;
      overflow-x: scroll;
      border-bottom: 1px solid lightgray;

      &::-webkit-scrollbar {
        display: none;
      }

      .time-slot {
        .single-slot {
          width: 100px;
          margin: 5px;
          padding: 2px;
          border: 1px solid #753a88;
          color: #753a88;
          border-radius: 15px;
          box-shadow: 0 0 10px #aaaaaa94;
          font-size: 14px;

          &.active {
            background: #753a88;
            color: white;
          }
        }
      }
    }

    .service-tab-container {
      border-bottom: 5px solid #d3d3d36b;
      border-top: 5px solid #d3d3d36b;
      padding: 5px 7px;
    }

    .services-container {
      display: flex;
      overflow-x: scroll;

      align-items: center;
      &::-webkit-scrollbar {
        display: none;
      }

      .service {
        .single-service {
          width: 150px;
          margin: 5px 10px;
          padding: 10px;
          border-radius: 15px;
          text-align: left;
          border: 1px solid lightgray;
          line-height: 1.2;
          min-height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          box-shadow: 0 0 10px #aaaaaa94;
          .service-details-container {
            .service-checkbox {
              display: flex;
              justify-content: flex-end;
              height: 5px;
            }
            .main-service-name {
              font-size: 16px;
              color: #666;
            }
            .service-name {
              padding: 10px 0 5px;
              font-size: 16px;
            }
            .service-duration {
              font-size: 16px;
              color: #666;
            }
          }

          .service-price-container {
            .price-text {
              font-size: 16px;
            }
            .service-fees {
              font-size: 24px;
            }
          }

          .service-fees {

          }
          &.active {
            background: #753a88;
            color: white;
          }
        }
      }
    }


    .coupon-tab-container {
      border-bottom: 5px solid #d3d3d36b;
      border-top: 5px solid #d3d3d36b;
      padding: 5px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .coupon-icon-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
          width: 35px; height: 35px; margin-right: 10px;
        }
      }
    }

    .combo-tab-container {
      border-bottom: 5px solid #d3d3d36b;
      border-top: 5px solid #d3d3d36b;
      padding: 5px 7px;
    }

    .combo-container {
      display: flex;
      overflow-x: scroll;

      align-items: center;
      &::-webkit-scrollbar {
        display: none;
      }

      .service {
        .single-service {
          width: 220px;
          margin: 5px 10px;
          padding: 10px;
          border-radius: 15px;
          text-align: left;
          border: 1px solid lightgray;
          line-height: 1.2;
          min-height: 150px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          box-shadow: 0 0 10px #aaaaaa94;
          .service-details-container {
            .service-checkbox {
              display: flex;
              justify-content: flex-end;
              height: 5px;
            }
            .main-service-name {
              font-size: 16px;
              color: #666;
            }
            .service-container {
              padding: 10px 0;
              .service-name {
                display: flex;
                padding: 3px 0;
                justify-content: space-between;
              }
            }

            .combo-name {
              font-size: 16px;
              width: 80%;
              line-height: 1.4;
            }
          }

          .service-price-container {
            .price-container {
              display: flex;
              justify-content: flex-start;
              align-items: baseline;
              padding: 5px 0;
            }
            .price-text {
              font-size: 16px;
              color: #666;
            }
            .service-fees {
              font-size: 24px;
              padding-right: 10px;
            }
          }

          .service-fees {

          }
          &.active {
            background: #753a88;
            color: white;
          }
        }
      }
    }
  }
}

.bold-text {
  font-weight: bold;
}
.appointment-footer {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  .total-div-container {
    display: flex;
    padding: 10px;
    background: #d3d3d37d;
    justify-content: space-between;
    border-radius: 7px;
    align-items: center;

    .total-div {
      display: flex;
      .total-div-price {
        color: #666;
        margin-left: 15px;
      }
    }
  }
}
.default-button {
  color: white;
  padding: 15px;
  margin: 15px 0;
  display: flex;
  border-radius: 7px;
  justify-content: center;
  text-align: center;
  background: linear-gradient(225deg, #cc2b5e 2%, #753a88 63%);
  button {
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    color: white;
  }
}

.feed-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  .heading-text {
    font-size: 16px;
  }
}

.total-bill-container {
  text-align: left;
  padding: 0 20px;
  font-size: 16px;
  .bill-header {
    padding: 15px 0;
    border-bottom: 1px solid lightgray;
  }

  .bill-details {
    padding: 15px 0;
    border-bottom: 1px solid lightgray;
  }

  .display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .apply-coupon {
      color: #cc2b5e;
      font-size: 14px;
    }
  }

  .total-bill-details {
    padding: 10px 0;
  }
}

