
.input-group {
  margin-bottom: 10px;
  .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    //border-radius: 4px;
    display: flex;
    align-items: center;
  }
}
.login-main-container {
  /*background: linear-gradient(214deg, rgba(40, 29, 232, 1) -25%, rgb(147, 18, 152) 63%);*/
  background: linear-gradient(214deg, rgba(40, 29, 232, 1) -25%, rgb(81, 36, 82) 63%);
  height: 100%;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  align-content: center
}

.login-main-container .login-container {
  width: 70%
}

.login-main-container .login-container .logo-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-main-container .login-container .logo-container .logo-image {
  background-image: url("../../../assets/sandhyadeep-final-logo.png");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 10px solid #fff;
  background-position: center center;
}

.login-main-container .login-container .logo-container .slogan-text {
  color: white;
  margin-bottom: 10%;
  font-size: 12px;
}
.login-main-container .login-container .logo-container .logo-text {
  font-size: 30px;
  font-style: italic;
  color: #fff;
  font-weight: 700;
}

.login-main-container .login-container .form-main-container {
}

.login-main-container .login-container .form-main-container .form-container {
}

.login-main-container .login-container .form-main-container .form-container .link-signup{
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.login-main-container .login-container .form-main-container .form-container .login-button {
  padding: 8px;
  margin: 30px 0 5px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  background: #fff;
  text-align: center;
}

.login-main-container .login-container .form-main-container .form-container .login-button button {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;
  color: rgb(97, 17, 101);
}

.login-main-container .login-container .form-main-container .form-container .form-input-container {
}

.login-main-container .login-container .form-main-container .form-container .form-input-container .form-input::placeholder {
  color: white;
}

.login-main-container .login-container .form-main-container .form-container .form-input-container .form-input {
  padding: 15px;
  border: 1px solid #fff;
  margin: 10px;
  color: white;
  border-radius: 25px;
  background-color: transparent;
}

