body {
  background-color: white !important;
  font-size: 14px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #753a88 !important;
  border: 1px solid pink;
}

.zoom-07 {
  zoom: 0.7;
}

:root {
  .tick-icon {
    color: green;
  }
}

.modal-backdrop-bg {
  transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  background-color: #000;
  opacity: 0;
}

.active .modal-backdrop-bg {
  opacity: 0.5;
}
