<div class="header-container">
  <ion-header>
    <div class="search-header-container">
      <div (click)="backClicked()" class="header-back">
        <i class="fa fa-angle-left"></i>
      </div>
      <div class="header-search">
        <ion-searchbar color="light" class="search-bar" placeholder="Search"></ion-searchbar>
      </div>
      <div class="icons-list">
        <div class="icon-container">
          <i class="fa fa-shopping-cart"></i>
        </div>
      </div>
    </div>
  </ion-header>
</div>
