<div class="header-container">
  <ion-header>
    <div class="search-header-container">
      <div style="display: flex; justify-content: end; align-items: center">
        <div (click)="backClicked()" class="header-back">
          <i class="fa fa-angle-left"></i>
        </div>
        <div class="header-search">
          <div style="display: flex; align-items: center; justify-content: space-between;">
            <div style="width: 40px; border: 2px solid #666; padding: 1px; border-radius: 50%; overflow: hidden; display: inline-block; margin: 5px;">
              <img src="../../../assets/sandhyadeep-final-logo.png">
            </div>
            <div class="logo-container">
              <div class="logo-text">
                Sandhyadeep
              </div>
              <div class="slogan-text">
                Have a hair affair with us
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="icons-list">
        <div class="icon-container">
          <i class="fa fa-bell"></i>
        </div>
        <div class="icon-container ">
          <i class="fa fa-search"></i>
        </div>
        <div class="icon-container cart-icon">
          <i class="fa fa-shopping-cart"></i>
        </div>

      </div>
    </div>
  </ion-header>
</div>
