<sandhyadeep-header></sandhyadeep-header>
<ion-content>
    <div class="about-us-container">
        <div class="image-container">
            <div class="about-us-image">
                <ion-slides class="feed-sliders" pager="true" [options]="slideOpts">
                    <ion-slide class="feed-images feed-slider feed-slider-one">

                    </ion-slide>
                    <ion-slide class="feed-images feed-slider feed-slider-two">

                    </ion-slide>
                    <ion-slide class="feed-images feed-slider feed-slider-three">

                    </ion-slide>
                    <ion-slide class="feed-images feed-slider feed-slider-four">

                    </ion-slide>
                    <ion-slide class="feed-images feed-slider feed-slider-five">

                    </ion-slide>
                </ion-slides>
            </div>
            <div class="about-us-heading">
                <div class="heading-text">
                    <b>Sandhyadeep Beauty Parlour</b>
                </div>
                <div class="slogan-text">
                    Have a hair affair with us
                </div>
            </div>
        </div>
        <div class="description-container">
            <div class="description-toggle-menus">
                <div class="toggle-menu-background about-us" [class.active] = show>
                    <div class="toggle-menu" [class.active] = show>About Us</div>
                </div>
                <div class="toggle-menu-background services">
                    <div class="toggle-menu">Services</div>
                </div>
                <div class="toggle-menu-background owner">
                    <div class="toggle-menu">Our Owner</div>
                </div>
                <div class="toggle-menu-background product">
                    <div class="toggle-menu">Products</div>
                </div>
            </div>
            <div class="description-data-container">
                <div class="about-us-page-container">
                    <div class="tab-container border-bottom">
                        <div class="heading-text">
                            <b>Description</b>
                        </div>
                        <div class="content-div">
                            In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful conte
                        </div>
                    </div>
                    <div class="tab-container">
                        <div class="heading-text">
                            <b>Work Timings</b>
                        </div>
                        <div class="timing">
                            <div>Sunday - Friday</div>
                            <div>10:00 PM - 07:00 PM</div>
                        </div>
                    </div>
                    <div class="tab-container">
                        <div class="content-div">
                            5595, Near Samarth Vidya Mandir, Anandi Bazar, Ahmednagar, Maharashtra, 414001
                        </div>
                        <div class="phone-number-div">
                            <div>+91-9403733265</div>
                            <div>
                                <div class="phone-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-container">

                </div>
                <div class="owner-container"></div>
                <div class="product-container"></div>
            </div>
        </div>
    </div>
</ion-content>
