<div class="header-container">
  <ion-header>
    <div style="display: flex; align-items: center; justify-content: space-between">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="width: 45px; border: 2px solid #666; padding: 1px; border-radius: 50%; overflow: hidden; display: inline-block; margin: 10px;">
          <img src="../../../assets/sandhyadeep-final-logo.png">
        </div>
        <div class="logo-container">
          <div class="logo-text">
            Sandhyadeep
          </div>
          <div class="slogan-text">
            Have a hair affair with us
          </div>
        </div>
      </div>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <!--      <div>-->
        <!--          <ion-icon style="font-size: 30px;margin: 0 5px; color: purple;" name="search-outline"></ion-icon>-->
        <!--      </div>-->
        <div style="margin: 0 15px">
          <i style="font-size: 20px; color: #cc2b5e" class="fa fa-shopping-cart"></i>
        </div>
      </div>
    </div>
  </ion-header>
</div>
