<div class="header-container">
  <ion-header>
    <div style="display: flex; align-items: center; justify-content: space-between">
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="width: 45px; border: 2px solid #666; padding: 1px; border-radius: 50%; overflow: hidden; display: inline-block; margin: 10px;">
          <img src="../../../assets/sandhyadeep-final-logo.png">
        </div>
        <div class="logo-container">
          <div class="logo-text">
            Sandhyadeep
          </div>
          <div class="slogan-text">
            Have a hair affair with us
          </div>
        </div>
      </div>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="margin: 0 5px; position: relative;">
          <i style="font-size: 22px; color: #cc2b5e" class="fa fa-bell"></i>
<!--          <span style="padding: 3px 7px; font-weight: 700; border-radius: 50%; border: 1px solid; font-size: 10px; position: absolute; left: 25%; top: -7px; background: #753a88; color: white;">99</span>-->
        </div>
        <div style="margin: 0 5px">
          <i style="font-size: 22px; color: #cc2b5e" class="fa fa-search"></i>
        </div>
        <div style="margin: 0 25px 0 5px; position: relative;">
          <i style="font-size: 22px; color: #cc2b5e" class="fa fa-shopping-cart"></i>
          <span style="padding: 3px 9px; font-weight: 700; border-radius: 50%; border: 1px solid; font-size: 10px; position: absolute; left: 40%; top: -7px; background: #753a88; color: white;">2</span>
        </div>
      </div>
    </div>
  </ion-header>
</div>
