<router-outlet></router-outlet>
<div class="footer-container">
  <ion-tabs>
    <div class="footer-tab">
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="feed">
          <img class="width-30" src="assets/home.png" alt="">
          <ion-label>Feed</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="bookings">
          <img class="width-30" src="assets/checklist.png" alt="">
          <ion-label>My Bookings</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="portfolio">
          <img class="width-30" src="assets/makeup_icon.png" alt="">
          <ion-label>Portfolio</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
          <img class="width-30" src="assets/businesswoman.png" alt="">
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </div>
  </ion-tabs>
</div>
